html{
    font-family:Arial,Helvetica,sans-serif;
    background-color:#00ff80
    
    }
.container{
    width:80%;
    margin:auto;
}
.time-span{
    font-style:italic; 
    font-size:6;
    border-radius:12px; 
    padding:5px 10px 5px 10px;
    background-color:#66ccff;
    
    
    text-decoration:none; 
    color:black;
    vertical-align:baseline;
    padding:6px;
}

#E{
    background-color:#ff9900 ;
}
#E:hover{
     background:#00ff00;
    }
#gb{
    background-color:#3399ff;
}
#gb:hover{
    background:#00ff00;
}

#D{
    background-color:#ff5050;
}
#D:hover{
    background:#00ff00;
}
