<DOCTYPE html>
    <h1>Welcome to Mars</h1>
    <body>
    <div class="container">
        
   <img id="The-Beast" src=http://www.ovosound.com/sites/g/files/g2000005016/f/styles/artist_image/public/201605/DVSN_OVO_ArtistIMG_2142_v3.jpg?itok=E52y08Oh"></img>
   <ul>
      
       <% @todos.each do |todo| %> 
        <li>
            <input type="checkbox">
            <a href="show/<%=todo.id%>"> <%=todo.description%> </a>
            <span class="time-span"> <%=todo.pomodoro_estimate%> </span>
             
            </li> 
            <% end %>
       
       </ul>
      <div id=New-todo >
      <input id=" text"  type="text" placeholder = "Reminders">
       <input id=" number" type="number" placeholder = "Dates">
        <input id=" button" type= "submit" value ="Create new">
        </div>

        </div>
    </body>