 <body>
        <h2> <%=  @todo_description%> </h2>
        <h3>Todo #<%= params[:id] %></h3>
        <span><%= 5%></span>
        <input type="checkbox">
    
    <a href="#" id="E"> Edit </a>
    <a href="#" id="D"> Delete </a>
    <a href="index.html" id="gb"> Go back </a>
    </body>