 <body>
        <h2> Feed Dog </h2>
        <input type="checkbox">
    
    <a href="#" id="E"> Edit </a>
    <a href="#" id="D"> Delete </a>
    <a href="index.html" id="gb"> Go back </a>
    </body>