 <body>
        <h2> <%=  @todo.description%> </h2>
        <h3>Todo #<%= params[:id] %></h3>
        <span><%= @todo.pomodoro_estimate%></span>
        <input type="checkbox">
    
    <a href="/todo/edit/<%=@todo.id%>"> Edit </a>
    <a href="#" id="D"> Delete </a>
    <a href="/todo/index" id="gb"> Go back </a>
    
    </body>